<!-- Ryan Bachman
     University of Advancing Technology
     MS587, Databases and Web Development
     Summer 2024, Grad 1
     Assignment 6.1 - Transform Your Flask App to Integrate your MS SQL Database -->

<!DOCTYPE html>
<html lang="en">
    <head> <!-- Create the heading details of the page, including settings content widths and adding stylesheets -->
        <title>Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheets.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!-- Navbar -->
        <!-- Creates the navigation bar. This will change colors dependent on the page the user has selected. -->
        <div class="rb-top" id = "top">
          <div class="rb-bar rb-blue rb-card rb-left-align rb-large">
            <a class="rb-bar-item rb-button rb-hide-medium rb-hide-large rb-right rb-padding-large rb-hover-white rb-large rb-blue" href="javascript:void(0);" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="/" class="rb-bar-item rb-button rb-padding-large rb-white">Home</a>
            <a href="/second" class="rb-bar-item rb-button rb-hide-small rb-padding-large rb-hover-white">Book Catalogue</a>
              <a href="/third" class="rb-bar-item rb-button rb-hide-small rb-padding-large rb-hover-white">References</a>
          </div>

          <!-- Navbar on small screens -->
          <div id="navDemo" class="rb-bar-block rb-white rb-hide rb-hide-large rb-hide-medium rb-large">
            <a href="/second" class="rb-bar-item rb-button rb-padding-large">Book Catalogue</a>
              <a href="/third" class="rb-bar-item rb-button rb-padding-large">References</a>
          </div>
        </div>

        <!-- Header -->
        <!-- Differs from HEAD. This is a header field that shows the website overall name and my details. -->
        <header class="rb-container rb-blue rb-center" style="padding:30px 4px 4px 4px">
          <h1 class="rb-margin rb-jumbo">Transform Your Flask App to Integrate your MS SQL Database</h1>
          <p class="rb-xlarge">Ryan Bachman, MS587</p>
        </header>

        <!-- First Grid -->
        <!-- Uses a grid format so that the image can be on the right and the text can be on the left. -->
        <div class="rb-row-padding rb-padding-64 rb-container">
          <div class="rb-content">
            <div class="rb-twothird">
              <h1>What is this website?</h1>

              <p class="rb-text-grey">This is a web application that I've created for MS587, Databases and Web Development at the
                  University of Advancing Technology. The purpose of this application is to create a Web Application that will
                  store books that a user can read and incorporate text-to-speech to make a primitive audiobook. The user will
                  be able to choose which books they want to read and go from there.
              </p>
                <p class="rb-text-grey">A benefit of web applications is that since they're hosted online, they do not need to be
                downloaded like a traditional app. Users will be able to interface with your program fully from
                within their web browser, freeing up space on hard drives and is generally not reliant on a user's
                hardware.</p>
            </div>

            <div class="rb-third rb-center">
              <img src="/static/image/HomePageImageGuyReadingBookOnline.jpg" alt="Man shopping online, cartoon style" width="300" height="300">
                <imgTxt>This image was generated by AI using Google ImageFX</imgTxt>
            </div>
          </div>
        </div>

        <!-- Second Grid -->
        <!-- Uses a grid format so that the image can be on the left and the text can be on the right. -->
        <div class="rb-row-padding rb-light-grey rb-padding-64 rb-container">
          <div class="rb-content">
            <div class="rb-third rb-center">
              <img src="/static/image/HomePageImageManReadingGenres.jpg" alt="Kid working on computer near servers, cartoon style" width="300" height="300">
                <imgTxt>This image was generated by AI using Google ImageFX</imgTxt>
            </div>

            <div class="rb-twothird">
              <h1>How To Use This Site</h1>

              <p class="rb-text-grey">In order to use this website, click on the <b>Book Catalogue</b> tab and read through the available books in the catalogue.
              Once you find the perfect book, click the link that says "Go to Book Page". On that page, you'll have the option to download the book, read the book
              directly on the website or even use AI Text-To-Speech to start the Audiobook!</p>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <!-- Creates a small footer at the bottom of the page with my name and class details. -->
        <footer class="rb-container rb-padding-64 rb-center rb-opacity">
         <p>Ryan Bachman, University of Advancing Technology, MS587, Databases and Web Development</p>
        </footer>
    </body>
</html>
